<form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
    <div>
      <label>
        Email:
        <input formControlName="email" placeholder="Your email">
      </label>
      <div *ngIf="signUpForm.controls['email'].invalid && (signUpForm.controls['email'].dirty || signUpForm.controls['email'].touched)">
        Please provide a valid email address.
      </div>
    </div>
    <div>
      <label>
        User Name:
        <input formControlName="userName" placeholder="Your user name">
      </label>
      <div *ngIf="signUpForm.controls['userName'].invalid && (signUpForm.controls['userName'].dirty || signUpForm.controls['userName'].touched)">
        Please provide a user name.
      </div>
    </div>
    <button type="submit" [disabled]="signUpForm.invalid">Register</button>
  </form>
